<header class="header" id="header">
  <nav class="container nav">
    <a href="./#home" class="logo">
      KYNOX<span>SHIFT</span>
    </a>

    <ul class="nav__menu">
      <li><a href="./#home" class="nav__link">Главная</a></li>
      <li><a href="./#corsi" class="nav__link">Курсы</a></li>
      <li><a href="./#innovazione" class="nav__link">Инновации</a></li>
      <li><a href="./#metodologia" class="nav__link">Методология</a></li>
      <li><a href="./#blog" class="nav__link">Блог</a></li>
    </ul>

    <a href="./#contact" class="btn btn--primary">
      Связаться с нами
      <i data-lucide="arrow-up-right"></i>
    </a>

    <button class="nav__toggle" aria-label="Открыть меню">
      <i data-lucide="menu"></i>
    </button>
  </nav>
</header>